body {
    background-image: linear-gradient(to bottom, #000000, #414141);
    background-color: #333; /* fallback color if gradient doesn't work */
  }
  
  .try-it-free {
    padding: 0px 0;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }
  
  .try-it-free h1 {
    font-size: 24px;
    margin-top: 0;
    color: #66cc00; /* Header text color */
  }
  
  .try-it-free p {
    margin-bottom: 20px;
    color: #ccccff; /* Paragraph text color */
  }
  
  .plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .plan {
    width: 30%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color: #333; /* Plan background color */
    color: #ffffff; /* Plan text color */
  }
  
  .plan h3 {
    font-size: 18px;
    margin-top: 0;
    color: #ffffff; /* Plan header text color */
  }
  
  .plan ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .plan li {
    margin-bottom: 10px;
    color: #ffffff; /* Plan list item text color */
  }
  
  .plan button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .plan button:hover {
    background-color: #3e8e41;
  }
  
  .enterprise {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .enterprise button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .enterprise button:hover {
    background-color: #ccc;
  }